/* Regole generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  display: flex;
}

header {
  padding: 20px;
}

header.row {
  justify-content: space-between;
  align-items: center;
}

header #logo {
  align-items: center;
}

header img {
  width: 50px;
}

header h1 {
  margin-left: 30px;
}

header span {
  margin-right: 10px;
}

header select {
  margin-right: 10px;
}

header button {
  padding: 0 15px;
}

button, select {
  border-radius: 5px;
}

main {
  background-color: rgb(127, 255, 212);
  padding: 30px;
  display: none;
}

#play-table {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: 0 auto;
}

.square {
  width: calc(100% / 10);
  height: 60px;
  border: 1px solid black;
}

.clicked {
  background-color: skyblue;
}

footer {
  display: none;
  width: 60%;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
}